.checkbox {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.checkbox .checkbox-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  width: auto;
  height: auto;
}

.checkbox .rectangle {
  background-color: #ededed;
  border: 2px solid;
  border-radius: 5px;
  height: 22px;
  width: 22px;
  position: relative;
  margin: -1px;
  pointer-events: none;
}


.checkbox .feather-icon {
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox .text-wrapper {
  color: #30a46c;
  font-family: var(--text-regular-md-16px-font-family);
  font-size: var(--text-regular-md-16px-font-size);
  font-style: var(--text-regular-md-16px-font-style);
  font-weight: var(--text-regular-md-16px-font-weight);
  letter-spacing: var(--text-regular-md-16px-letter-spacing);
  line-height: var(--text-regular-md-16px-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  z-index: 1;
}

.checkbox .inactive {
  border-color: #7e7e7e;
}

.checkbox .indeterminate {
  border-color: #505050;
}

input[type="checkbox"] {
  position: relative;
  /* Asegura que no sea cubierto */
  z-index: 1;
  /* Lleva el checkbox por delante de otros elementos */
  width: 16px;
  height: 16px;
  cursor: pointer;
  /* Asegura que sea clickeable */
}

.checkbox-input {
  width: 16px;
  height: 16px;
  /* Asegúrate de que no esté oculto */
  visibility: visible;
  opacity: 1;
  /* Añade borde o fondo si es necesario */
  border: 1px solid #000;
}