.heading {
  height: 58px;
  position: relative;
  width: 253px;
}

.heading .h {
  color: #232323;
  font-family: var(--heading-h2-font-family);
  font-size: var(--heading-h2-font-size);
  font-style: var(--heading-h2-font-style);
  font-weight: var(--heading-h2-font-weight);
  height: 23px;
  left: 0;
  letter-spacing: var(--heading-h2-letter-spacing);
  line-height: var(--heading-h2-line-height);
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
